body {
    background-color: rgb(241, 236, 236);
}

#color {
    background-color: white;
    width: 98%;
    margin: auto;
    border-radius: 3px;
}

.titolo {
    display: inline-block;
    vertical-align: middle;
}

.immagine {
    padding-left: 15px;
}

.space {
    line-height: 50px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 20%;
    width: 61%;
    padding-left: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blue.border {
    color: white;
    background-color:  rgb(0, 153, 255);
    border-radius: 5px;
    border-color: rgb(0, 153, 255);
}

.border {
    color: gray;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
}

.corpo {
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 182px;
    left: 20%;
    width: 61%;
    height: 400px;
    line-height: 29px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.corpo {
    padding-left: 20px;
    padding-top: 20px;
}

.special {
    color: white;
    font-size: small;
    padding: 4px;
    border-radius: 10px;
}
.special.editorial {
    background-color: turquoise;
}

.special.Q1goals {
    background-color: orange;
}

.special.recruiting {
    background-color: orchid;
}

.special.mobile {
    background-color: palegreen;
}
.special.website {
    background-color: palevioletred;
}

.special.sales {
    background-color: purple;
}

.spunta {
    color: rgb(41, 214, 18);
    background-color: transparent;
    border: 1px solid rgb(41, 214, 18);
    border-radius: 50%;
}

.simbolox {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 50%;
}